/Expresiones Matematicas/nbproject/private/
/Expressions/nbproject/private/
/Expressions/build/
/LSP/nbproject/private/
/Calculadora/build/
/Calculadora/dist/
/Calculadora/nbproject/private/
/FilosofosComensales/nbproject/private/
/FilosofosComensales/build/
/FilosofosComensales/dist/
/Cubo/nbproject/private/
/CuboControl3d/nbproject/private/
/CuboControl3d/build/
